extends ../index 

block middle-column 
    // Middle Column
    .w3-col.m7
        .w3-row-padding

        // Posts
        if(error)
            .w3-container.w3-red
                p #{error}

        each rua in ruas 
            .w3-container.w3-card.w3-white.w3-round.w3-margin
                br
                //img.w3-left.w3-circle.w3-margin-right(src="#" alt="Avatar" style="width:60px")
                    span.w3-right.w3-opacity 1 min
                h4=rua.nome
                hr.w3-clear
                .w3-row-padding(style="margin:0 -16px")
                    each imagem in rua.imagens
                        - const path = '#' //process.env.IMAGE_URL + '/' + figura.imagem
                        .w3-row
                            img.w3-margin-bottom(src=path style="width:100%" alt=imagem.legenda)
                each paragrafo in rua.paragrafos 
                    p=paragrafo
                a(href="street/" + rua._id) 
                    button.w3-button.w3-theme-d1.w3-margin-bottom(type="button")
                        i.fa.fa-thumbs-up View
                button.w3-button.w3-theme-d2.w3-margin-bottom(type="button")
                    i.fa.fa-comment Comment