extends index 

block middle-column 
    // Middle Column
    .w3-col.m7

        .w3-container.w3-card.w3-white.w3-round.w3-margin
            br
            //img.w3-left.w3-circle.w3-margin-right(src="#" alt="Avatar" style="width:60px")
                span.w3-right.w3-opacity 1 min
            h4=rua.nome
            hr.w3-clear
            .w3-row-padding(style="margin:0 -16px")
                each figura in rua.figuras
                    - const path = process.env.IMAGE_URL + '/' + figura.imagem
                    .w3-row
                        img.w3-margin-bottom(src=path style="width:100%" alt=figura.imagem)
            p=rua.paras
            br

        .w3-container.w3-card.w3-white.w3-round.w3-margin
            if rua['lista-casas'].length > 0
                h4 Casas
                each casa in rua['lista-casas'] 
                    p 
                        b Número: 
                        span=casa.numero
                        br

                        if casa.foro
                            p 
                                b Foro: 
                                span=casa.foro
                            br

                        if casa.enfiteuta.length > 0
                            p 
                                b Enfiteuta: 
                                each enfiteuta in casa.enfiteuta
                                    p=enfiteuta
                            br

                        if casa.desc
                            p 
                                b Descrição: 
                            p=casa.desc
                            br

        .w3-container.w3-card.w3-white.w3-round.w3-margin
            h4 Comentarios 



